@import "tailwindcss";
@import "@heroui/styles";

:root {
	--background: #f6f8f7;
	--foreground: #121717;
  --primary: #248f8f;
}

body {
  height: 100dvh;
  background: var(--background);
  color: var(--foreground);
}

.text-primary {
  color: var(--primary);
}

.bg-primary {
  background-color: var(--primary);
}